@page "/how-to/"

<PageTitle>How-To</PageTitle>

<FluentGrid>
    <FluentGridItem xs="12" Justify="JustifyContent.FlexStart">
        <FluentCard>
            <h4>Fragenkatalog</h4>
            <p>Der Fragenkatalog ist der Ort, an dem Sie alle verfügbaren Fragen sehen können. Sie können nach der Registrierung beliebig Themen, Fragen und Antworten erstellen, bearbeiten und löschen. Ebenso können Sie Fragen positiv oder negativ bewerten.</p>
            <br/>
            <p style="font-size: 1.3em"><strong>Fragenkatalog erweitern:</strong></p>
            <img alt="Fragenkatalog" src="HowTo/FragenKatalog.png" height="350px"/>
            <p/>
            <p style="font-size: 1.3em"><strong>Eintrag bearbeiten:</strong></p>
            <img alt="Eintrag bearbeiten" src="HowTo/Eintrag bearbeiten.png" height="200px"/>
        </FluentCard>
    </FluentGridItem>

    <FluentGridItem xs="12" Justify="JustifyContent.FlexStart">
        <FluentCard>
            <h4>Spielbereich</h4>
            <p>Im Spielbereich können Sie ein Quiz im Multiplayer- oder im Einzelspielermodus starten. Sie werden zufällige Fragen aus dem Fragenkatalog gestellt bekommen und müssen die richtige Antwort auswählen. Im Multiplayer Modus haben Sie zudem die Möglichkeit sich mit den anderen Mitspielern auszutauschen. </p>
            <p style="font-size: 1.3em"><strong>Auswahl Spielmodus:</strong></p>
            <img alt="Auswahl Spielmodus" src="HowTo/AuswahlSpielModus.png" height="150px"/>
            <p/>
            <p style="font-size: 1.3em"><strong>Übersicht Spielmenü:</strong></p>
            <img alt="Übersicht Spielmenü:" src="HowTo/SpielErklärung.png" height="350px"/>
            <p/>
            <p style="font-size: 1.5em"><strong>Ergänzungen:</strong></p>
            <p>• Spielstart im Einzelspielermodus jederzeit möglich.</p>
            <p>• Falls bereits ein Spiel im Mehrspielermodus gestartet wurde, ist man im Wartebereich, bis die nächste Runde startet. </p>
            <img alt="Übersicht Spielmenü" src="HowTo/Wartebereich.png" height="150px"/>
            <p/>
            <p>• Jeder Runde besteht aus minimal einer Frage und maximal aus zehn Fragen, die zufällig ermittelt werden. </p>
            <p>• Eine Frage muss mindestens zwei Antworten enthalten, wobei eine als korrekt markiert sein muss, um im Spiel aufgenommen zu werden. </p>
        </FluentCard>
    </FluentGridItem>

    <FluentGridItem xs="12" Justify="JustifyContent.FlexStart">
        <FluentCard>
            <h4>Dashboard</h4>
            <p>Falls Sie eingeloggt Fragen beantworten, werden diese in Ihrem Profil hinterlegt und können über das Dashboard abgerufen werden, um Ihnen ein besseres Gefühl über Ihren aktuellen Lernfortschritt zu geben.</p>
            <p style="font-size: 1.3em"><strong>Übersicht Dashboard:</strong></p>
            <img alt="Übersicht Dashboard" src="HowTo/Dashboard.png" height="350px"/>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>
